body {
    color: #434455;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.96px;
    font-family: 'Roboto', sans-serif;
    }
.page-title{
    font-family: sans-serif;
        font-weight: bold;
        font-size: 56px;
        letter-spacing: 1.12px;
        line-height: 60px;
}
.section-title{
    color: #2e2f42;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.72px;
}
.sub-section-title{
    color: #2e2f42;
    font-size: 20px;
    letter-spacing: 0.4px ;
}
.section-text{
    line-height: 24px;
    font-weight: medium;
    font-size: 16px;
    letter-spacing: 0.32px;
}
.button {
            color: #2e2f42;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing:0.02em;
            text-decoration: underline;
}
.button-address{
    font-style: normal;
}
.button-main{

        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
       
 }

    .button-main:hover,
    .button-main:focus {
        background-color: #404BBF;
        
    }

.button:hover, :focus{
    color: #404bbf;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio {
    color: #2e2f42;
}